// variaveis SCSS
$background:#DFDB85;
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Acme', sans-serif;
    font-size: 20px;
	color: #2c3e50;
	background-color: $background;   
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	.calc-imc {
		padding: 1em;
		box-shadow: 6px 6px 20px gray, -6px -6px 20px white;
		background-color:$background;
	}
}